*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Barlow', sans-serif;
    line-height: 1;
    font-size: 16px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.showcase{
    padding: 1rem 4rem;
}

.showcase .show{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc((100% - 2rem) / 3);
    height: 50rem;
    float: left;
    position: relative;
    z-index: 1;
}

.show>.discount{
    position: absolute;
    z-index: 3;
    bottom: 8rem;
    padding: .25rem;
    background-color: red;
    color: white;
}

.show>.ecolabel{
    position: absolute;
    z-index: 3;
    bottom: 8rem;
    left: 3rem;
    padding: .25rem;
    background-color: green;
    color: white;
    text-transform:capitalize;
}

.show>.like{
    padding: .5rem;
    position: absolute;
    top: .5rem;
    right: 0;
    background-color: white;
    width: 2rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 2rem;
}

.show>.like:hover{
    color:red;
}

.showcase header{
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: .5rem 0;
    width: 100%;
    z-index: 8;
}

.showcase header>h1{
    text-transform: capitalize;
    color: grey;
    font-weight: 400;
    font-size: 1.5rem;
}
.showcase header>h2{
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    font-size: 2rem;
}

.showcase header>h3{
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}

.showcase header>h3>span{
    color: black;
    text-decoration: line-through;
    font-weight: 400;
}

.down{
    margin-top: 2rem;
}
.up .show.left{
    background-image: url(../img/1.webp);
}

.up .show.left:hover{
    background-image: url(../img/1b.webp);
}

.up .show.center{
    background-image: url(../img/2.webp);
    margin: 0 1rem;
}

.up .show.center:hover{
    background-image: url(../img/2b.webp);
}

.up .show.right{
    background-image: url(../img/3.webp);
}

.up .show.right:hover{
    background-image: url(../img/3b.webp);
}

.down .show.left{
    background-image: url(../img/4.webp);
}

.down .show.left:hover{
    background-image: url(../img/4b.webp);
}

.down .show.center{
    background-image: url(../img/5.webp);
    margin: 0 1rem;
}

.down .show.center:hover{
    background-image: url(../img/5b.webp);
}

.down .show.right{
    background-image: url(../img/6.webp);
}

.down .show.right:hover{
    background-image: url(../img/6b.webp);
}